<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Webpage</title>
</head>
<body>
    <nav>
            <a href="/about/">About</a>
            <a href="/contact-us/">Contact us</a>
            <a href="/store/">Store</a>
    </nav>
    <h1>Welcome</h1>
    <h2>This is our webpage</h2>
    <p>Hello, this is the first page</p>
    <img src ="{{url_for('static',filename='cat.jpeg')}}" style="width:200px">

    <br>
    <br>
    <a href="htps://google.com">Google page</a>

</body>
</html>